rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 注文(orders)コレクション
    match /orders/{orderId} {
      // App Checkで検証されたアプリからのみ作成できる
      allow create: if true;
      // ログインしている管理者のみが読み取り、更新、削除できる
      allow read, update, delete: if request.auth != null;
    }

    // 商品(products)コレクション
    match /products/{productId} {
      allow read, write: if request.auth != null;
    }

    // 提供スタイル(servingStyles)コレクション
    match /servingStyles/{styleId} {
        allow read, write: if request.auth != null;
    }

    // 支払い方法(paymentMethods)コレクション
    match /paymentMethods/{methodId} {
        allow read, write: if request.auth != null;
    }

    // 各種設定(settings)コレクション
    match /settings/{settingId} {
        allow read, write: if request.auth != null;
    }

    // 休業日(holidays)コレクション
    match /holidays/{holidayId} {
        allow read, write: if request.auth != null;
    }

    // カウンター(counters)コレクション
    match /counters/{counterId} {
        // バックエンド(Cloud Functions)からのみ操作するため、クライアントからは操作不可
        allow read, write: if false;
    }
  }
}